body {
    min-height: 2000px;
    padding-top: 70px;
}

.set-loading-panel {
    display: initial;
}

#loadingPanel {
    display: none !important;
    opacity: 0.8;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100000;
    background-color: #F7F7F9;
    color: #00599B;
    text-align: center;
}

    #loadingPanel.active {
        display: table !important;
    }

    #loadingPanel div {
        display: table-cell;
        vertical-align: middle;
    }

tr.text-center th, tr.text-center td {
    text-align: center;
}

td.td-action {
    width: 3%;
}

    td.td-action span {
        cursor: pointer;
    }

.popover-content {
    text-align: center;
    -moz-min-width: 130px;
    -ms-min-width: 130px;
    -o-min-width: 130px;
    -webkit-min-width: 130px;
    min-width: 130px;
}

.ng-leave.ng-leave-active, .ng-enter {
    -ms-opacity: 0;
    opacity: 0;
    -webkit-transition: visibility 0, opacity 0.5s linear;
    -moz-transition: visibility 0, opacity 0.5s linear;
    -ms-transition: visibility 0, opacity 0.5s linear;
    -o-transition: visibility 0, opacity 0.5s linear;
    transition: visibility 0, opacity 0.5s linear;
}

    .ng-leave, .ng-enter.ng-enter-active {
        -ms-opacity: 1;
        opacity: 1;
    }

.table-responsive {
    overflow-x: hidden;
}

    .table-responsive:hover {
        overflow-x: auto;
    }

.tooltip > .tooltip-inner {
    background-color: #dca7a7;
    color: #000000;
    border: 1px solid #a94442;
}

.tooltip.top > .tooltip-arrow {
    border-top: 5px solid #a94442;
}

.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #a94442;
}

.tooltip.left > .tooltip-arrow {
    border-left: 5px solid #a94442;
}

.tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}
