body {
    min-height: 2000px;
    padding-top: 70px;
}

.set-loading-panel {
    display: initial;
}

tr.text-center th, tr.text-center td {
    text-align: center;
}

.glyphicon-pencil, .glyphicon-remove {
    cursor: pointer;
}

.ng-leave.ng-leave-active, .ng-enter {
    -ms-opacity: 0;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    -moz-transition: visibility 0s, opacity 0.5s linear;
    -ms-transition: visibility 0s, opacity 0.5s linear;
    -o-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

    .ng-leave, .ng-enter.ng-enter-active {
        -ms-opacity: 1;
        opacity: 1;
    }
